// global variables
@import 'font-face';


//FONTS 
$font-stack: 'Amatic-Bold', sans-serif;

//IMAGES
$url-image-path:        "../images/";


// COLOR SCHEME
$primary-color:			#4998F3;  //blue
$secondary-color:		#EF4E42;  //red
$default-color:			#151515;  //black default
$complementary-color: 	#7AB088;  // green


// TYPOGRAPHY

$font-size-h1:             56px;
$dividers-h2:              57px;
$font-size-h3:             35px;





