@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption);
@font-face {
  font-family: 'Amatic-Bold';
  src: url("../fonts/Amatic-Bold/Amatic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Amatic-Bold/Amatic-Bold.woff") format("woff"), url("../fonts/Amatic-Bold/Amatic-Bold.ttf") format("truetype"), url("../fonts/Amatic-Bold/Amatic-Bold.svg#Amatic-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BacktoBlackDemo';
  src: url("../fonts/BacktoBlackDemo/BacktoBlackDemo.eot?#iefix") format("embedded-opentype"), url("../fonts/BacktoBlackDemo/BacktoBlackDemo.woff") format("woff"), url("../fonts/BacktoBlackDemo/BacktoBlackDemo.ttf") format("truetype"), url("../fonts/BacktoBlackDemo/BacktoBlackDemo.svg#BacktoBlackDemo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BirchStd';
  src: url("../fonts/BirchStd/BirchStd.eot?#iefix") format("embedded-opentype"), url("../fonts/BirchStd/BirchStd.otf") format("opentype"), url("../fonts/BirchStd/BirchStd.woff") format("woff"), url("BirchStd.ttf") format("truetype"), url("../fonts/BirchStd/BirchStd.svg#BirchStd") format("svg");
  font-weight: normal;
  font-style: normal; }

/*!
 * Start Bootstrap - Scrolling Nav (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #FFF; }

.quando-section {
  height: 100%;
  padding-top: 60px;
  text-align: center;
  background: #fff;
  overflow: hidden; }

.onde-section {
  height: 100%;
  padding-top: 60px;
  text-align: center;
  background: #fff;
  overflow: hidden; }

.casal-photos-section {
  height: 100%;
  padding-top: 60px;
  text-align: center;
  background: #FFF; }

.RSVP-section {
  height: 100%;
  padding-top: 60px;
  text-align: center;
  background: #fff; }

.presentes-section {
  height: 100%;
  padding-top: 60px;
  text-align: center;
  background: #FFF; }

.ondeficar-section {
  height: 1500px;
  padding-top: 60px;
  text-align: center; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Amatic-Bold' !important;
  color: #151515;
  font-size: 25px; }

html {
  width: 100%;
  height: 100%; }

h1, h2, h3 {
  color: #151515;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 56px; }

.dividers {
  font-size: 57px;
  font-family: 'BacktoBlackDemo' !important; }

.vt-nav-bar {
  background-image: url(../images//bg-noise.png);
  background-color: #fff;
  border-bottom: 1px dashed #CFCFCF; }

.vt-navbar-nav a {
  color: #151515 !important; }

.disable-text, .thumbs-noivos, .hearts-wedding, .church-ico,
.drink-ico {
  overflow: hidden;
  text-indent: -99999px;
  font-size: 0; }

.normal-type, .text-RSVP, .box-presentes i {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #151515;
  background-color: #EEEEEE; }

#intro,
#quando,
#onde,
#casal-photos,
#RSVP,
#presentes,
#ondeficar {
  background-image: url(../images//bg-noise.png);
  background-color: #FFF; }

.monograma {
  margin: 0 auto;
  display: block; }

.title-intro {
  font-size: 56px;
  letter-spacing: 0.18em;
  font-family: 'Amatic-Bold' !important;
  margin-top: 35px; }

.btn-intro {
  margin-top: 50px;
  display: block; }

.d-quando {
  width: 100%;
  height: 38px;
  background: url(../images//divide-quando.png) center no-repeat;
  margin-bottom: 80px; }

.thumbs-noivos {
  width: 198px;
  height: 198px; }

.van {
  background: url(../images//vanessa-thumb.png) top left no-repeat;
  margin: 40px 0 0 110px; }

.cardoso {
  background: url(../images//cardoso-thumb.png) top left no-repeat;
  margin: 40px 0 0 -50px; }

.hearts-wedding {
  width: 118px;
  height: 24px;
  background: url(../images//hearts-wedding.png) top left no-repeat;
  margin: 0 auto;
  margin-bottom: 40px; }

.wedding {
  font-family: 'BirchStd' !important; }

.wedding span {
  width: 340px;
  border-bottom: solid 2px black;
  display: block;
  margin: 0 auto; }

.wedding-date {
  font-size: 65px;
  letter-spacing: 20px;
  padding-left: 15px;
  padding-top: 15px; }

.wedding p {
  font-size: 35px;
  letter-spacing: 0.48em;
  padding: 20px 0 30px 15px; }

.faltam-apenas span {
  display: inline-block;
  font-size: 35px;
  letter-spacing: 0.3em;
  padding: 0 50px 50px 50px;
  vertical-align: top; }

.faltam-apenas h3 {
  display: inline-block;
  font-size: 35px;
  font-family: 'BacktoBlackDemo' !important;
  margin-top: 20px; }

#countdown-wedding {
  font-size: 35px;
  letter-spacing: 0.2em;
  padding: 20px 0 0 20px; }

#countdown-wedding span {
  width: 52px;
  height: 56px;
  background: url(../images//circle-countdown.svg) 0 0 no-repeat;
  display: inline-block;
  color: #fff;
  letter-spacing: 0; }

.d-onde {
  width: 100%;
  height: 38px;
  background: url(../images//divide-onde.png) center no-repeat;
  margin-bottom: 100px; }

.onde-cerimonia h2,
.onde-recepcao h2 {
  font-size: 35px;
  font-family: 'BacktoBlackDemo' !important; }

.onde-cerimonia p,
.onde-recepcao p {
  font-size: 35px;
  letter-spacing: 0.05em; }

.church-ico,
.drink-ico {
  margin: 0 auto;
  display: block;
  margin-bottom: 40px; }

.church-ico {
  width: 66px;
  height: 112px;
  background: url(../images//igreja.png) top left no-repeat; }

.drink-ico {
  width: 72px;
  height: 103px;
  background: url(../images//drink.png) top left no-repeat;
  margin-top: 10px; }

.address {
  font-family: 'BirchStd' !important;
  font-size: 28px !important;
  line-height: 40px;
  padding-top: 15px; }

.d-nos {
  width: 100%;
  height: 114px;
  background: url(../images//divide-nos.png) top no-repeat;
  margin-bottom: 100px; }

.d-nos h1 {
  padding: 60px 0 0 0;
  margin: 0;
  vertical-align: bottom; }

.flickity-page-dots {
  bottom: -65px; }

.d-RSVP {
  width: 100%;
  height: 114px;
  background: url(../images//divide-RSVP.png) top no-repeat;
  margin-bottom: 100px; }

.btn-confirmar {
  font-size: 28px;
  border-radius: 100px;
  width: 188px;
  background-color: #7AB088;
  color: #FFF;
  padding: 5px;
  margin-top: 50px;
  border: none; }

.btn-confirmar:hover {
  background-color: #507158;
  color: #FFF; }

.input-custom {
  border: 1px dashed #151515;
  width: 316px;
  height: 60px;
  font-size: 28px; }

.label-email-align {
  float: left;
  margin-left: 4px; }

.title-RSVP {
  font-size: 38px;
  text-transform: uppercase; }

.checkbox input[type=checkbox] {
  margin-top: 12px;
  margin-left: -30px; }

.text-RSVP {
  color: #151515;
  margin-top: 50px; }

.title-presentes {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-bottom: 80px;
  margin: -20px 0 0 0; }

.box-presentes {
  width: 345px;
  height: 320px;
  border: 1px dashed #151515;
  margin: 0 auto;
  overflow: hidden; }

.box-presentes img {
  margin-top: 60px;
  padding-bottom: 30px; }

.logos-gift {
  margin: 0 auto;
  display: block; }

.box-presentes i {
  font-size: 14px; }

.gifts-pnbc {
  padding: 10px 20px 0 20px;
  line-height: 13px; }

.gifts-ciriana {
  margin-top: -10px; }

.title-ondeficar {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-bottom: 80px;
  margin: -20px 0 0 0;
  line-height: 40px; }

#googleMap {
  width: 100%;
  height: 320px;
  margin-bottom: 100px; }

#iw_container .iw_title {
  font-size: 16px;
  font-weight: bold; }

.iw_content {
  padding: 15px 15px 15px 0; }

.footer-img {
  margin-top: 40px; }

.footer-text {
  font-family: 'BacktoBlackDemo' !important;
  font-size: 35px; }

.fb-comments {
  margin-top: 100px; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .hearts-wedding {
    background: url(../images//hearts-wedding@2x.png) top left no-repeat;
    background-size: 118px 24px; }
  .church-ico {
    background: url(../images//igreja@2x.png) top left no-repeat;
    background-size: 66px 112px; }
  .drink-ico {
    background: url(../images//drink@2x.png) top left no-repeat;
    background-size: 72px 103px; } }

@media (min-width: 992px) {
  .vt-navbar-nav {
    width: 100%;
    text-align: center; }
    .vt-navbar-nav > li {
      float: none;
      display: inline-block; } }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }
  .top-nav-collapse {
    padding: 0; } }

@media (min-width: 1400px) {
  .quando-section,
  .onde-section,
  .casal-photos-section,
  .RSVP-section,
  .presentes-section,
  .ondeficar-section {
    padding-top: 150px;
    height: 80%; }
  .intro-section {
    height: 70%; }
  .ondeficar-section {
    height: 140%; } }

@media (max-width: 767px) {
  .title-intro {
    font-size: 38px; }
  .intro-section {
    padding-top: 100px; }
  .quando-section {
    height: 1400px; }
  .cardoso, .van {
    margin: 0 auto;
    margin-bottom: 40px; }
  .hearts-wedding {
    padding-top: 40px; }
  .wedding p {
    letter-spacing: 0.44em;
    font-size: 33px; }
  .wedding-date {
    padding: 20px 0 10px 9px; }
  .faltam-apenas span {
    padding-bottom: 30px; }
  #countdown-wedding {
    font-size: 28px; }
  .onde-section {
    height: 1220px; }
  .onde-recepcao {
    padding-top: 60px; }
  .btn-maps {
    margin-top: 60px; }
  .casal-photos-section {
    height: 800px; }
  .RSVP-section {
    height: 1070px; }
  .text-RSVP {
    margin-top: 50px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #151515; }
  .input-custom {
    width: 260px; }
  .presentes-section {
    height: 1100px; }
  .box-presentes {
    margin-top: 20px;
    width: 290px; }
  .ondeficar-section {
    height: 1300px; }
  .footer-text {
    font-size: 25px; } }
